<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Mot de passe oublié</h5>
            <form>
              <div class="form-floating mb-3">
                <input type="text" required value="{{ last_username }}" name="username" id="floatingInputUsername" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
                <label for="floatingInputUsername">Entrez votre username</label>
              </div>
              <div class="form-floating mb-3">
                <input type=" password" class="form-control" id="floatingPassword" name="newPassword"placeholder="Password">
                <label for="floatingPassword">Nouveau mot de passe</label>
              </div>
             
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Réinitialiser mon mot de passe</button>
              </div>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
