section {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
   
  section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  section .container {
    position: relative;
    z-index: 2;
  }
  
  section .overlay-wcs {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

#loadMoreComments {
	width: 30%;
}


.comment img {
    margin-right: 20px;
    width: 80px;
}

.comment {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.comment p {
	border: 1px solid black;
	padding:5px 15px;
}

.avatar {
    display: inline-block;
}

#seeMedia {
	display:none;
}

.center {
  /* display: flex;
  justify-content: center; 
  align-items: center;
  height: 200px;
  border: 3px solid green; */
  margin: 0 auto;
}