.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
    background-size: cover;
  }
  
  .btn-register {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
/*   
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  } */

  #customFile .custom-file-input:lang(en)::after {
    content: "Select file...";
  }
  
  #customFile .custom-file-input:lang(en)::before {
    content: "Click me";
  }
  
  /*when a value is selected, this class removes the content */
  .custom-file-input.selected:lang(en)::after {
    content: "" !important;
  }
  
  .custom-file {
    overflow: hidden;
  }
  .custom-file-input {
    white-space: nowrap;
  }