.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('/IMAGES/reset-password.png');
    background-size: cover;
  }
  
  .btn-reset {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  *{

    margin:0;
    
    padding:0;
    
    }
    
     
    
    body, html{height:100%;}
    
    body{
    
    text-align:center;
    
    }
    
     
    
    #main{
    
    max-width:1280px;
    
    min-height:100%;
    
    margin:0 auto;
    
    position:relative;
    
    } 
    
  footer{

    background:#ccc;
    
    position:absolute;
    
    bottom:0;
    
    width:100%;
    
    padding-top:50px;
    
    height:50px;
    
    }