.div_comment{
    width: 900px;
            background-color: #e5e8ed; 
            padding-top: 10px;
	          padding-bottom: 10px;
	          text-align: center;
	          font-size: 20px;
            
            font-weight: 900;
}