
<h1>Activez votre compte!</h1>
{# <p>Bonjour {{ user.username }},</p>  #}
{# Voici le token {{token}} #}
<p>Votre inscription sur le site Snowtricks est à valider en cliquant sur le lien ci-dessous :</p>
<br> 

<p><a href="{{ url('confirm_account', {"token": token}) }}">Cliquer ici pour confirmer votre compte</a></p>

