<h1>Reset de votre mot de passe!</h1>
<p>Bonjour {{ user.username }},</p> 

<p>Votre demande de réinitialisation du mot de passe sur le site Snowtricks est à valider en cliquant sur le lien ci-dessous :</p>
<br> 

<p><a href="{{ url|raw }}">Cliquer ici pour reset votre password</a></p>


