<footer  class="flex-shrink-0 py-4 bg-dark text-white-50 mt-5" 
  {# <footer class="mt-5 "   #}
  style="background:rgb(12, 12, 12);
    
    position:fixed;
    
    bottom:0;
    
    width:100%;
    
    padding-top:50px;
    
    height:50px;"> 
    <div class="container text-center">
        <small>Copyright &copy; Snowtricks 2022</small>
    </div>
</footer>
